<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> CS361 assignment 5 </title>
        <!-- none seem to work for changing favicon I got from image on pixabay -->
        <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">



    </head>

    <body>
        <main>
            <!-- idea: have if statement in first route i have in main.py to show this?? -->

            <!-- https://pythonprogramming.altervista.org/flask-7-the-if-condition/?doing_wp_cron=1675069908.5962669849395751953125 -->
            {% if start %}
            <div class="title">
                <img src="/static/qr-code-g492409197_640.png" alt="Picture of QR Code" width="240" height="240">
                <h1> Welcome to the QR Code Generator!! </h1>
            </div>


            <div class="input">
                <h2> Please copy and paste a website URL of your choice below to create a QR code: </h2>
                <form action="/" method="post">
                    <input type="text" name="url" placeholder="i.e.: https://goo.gl/maps/bQNKajGah218Dt8w7" class="urlInput">
                    <button type="submit" name="url"> Create QR code! </button>

                </form>

             {% if empty %}
             <p> Woops, it looks like nothing was entered. Please paste in a website url and click 'Create QR code!' again. </p>
             {% endif %}

            </div>


            <!-- https://blog.hubspot.com/website/html-tooltip referenced -->
            <div class="tooltip-home">
                <img src="/static/questionMark.png" alt="Question mark tooltip" width="64" height="64" class="questionMarkIcon-home">
                <span class="tooltip-text-home">
                    A QR code is a kind of code, that when scanned by a camera on a phone, laptop, or computer, can bring you to websites, among other things.
                    To use this QR code generator, first go to a website of your choosing and copy its url.
                    Then, paste it into the text box and click the button to create a QR code.
                    After, a QR code will display, and you will have the options to save and/or create another QR code.
                </span>

            </div>
            {% endif %}


            <!-- https://stackoverflow.com/questions/42228920/how-to-add-single-if-statement-in-flask -->
            {% if data %}
            <div class="qrCodeCreated">
                <img src="{{data}}" alt="Generated QR code">
                <p> Look, a generated QR code!! </p>
                <p> Try scanning it with a phone camera! </p>


                <form action="/save" method="post">
                    <button type="submit" name="save"> Save QR code! </button>
                </form>

                <form action="/goBackAndCreateAnotherOne" method="post">
                    <button type="submit" name="anotherOne"> Create Another QR Code! </button>

                </form>

            </div>
            {% endif %}


            <!-- https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event -->
            <!-- https://stackoverflow.com/questions/46482475/how-handle-a-button-click-on-python-flask -->
            <!-- https://stackoverflow.com/questions/19794695/flask-python-buttons -->
            {% if save %}
            <div class="saveOrCreateAnotherOne">
                <p> {{ saveMsg }} </p>



            <div class="tooltip-save">
                <img src="/static/questionMark.png" alt="Question mark tooltip" width="32" height="32" class="questionMarkIcon-save">
                <span class="tooltip-text-save">
                    >>Downloads folder on Mac: Click Finder app -> Look at sidebar for "Downloads" -> Click on "Downloads".

                    >>Downloads folder on Windows: Click File Explorer from taskbar or press Windows key + E -> Look at Quick Access on sidebar for "Downloads" -> Click on "Downloads".
                </span>

            </div>

                <form action="/goBackAndCreateAnotherOne" method="post">
                    <button type="submit" name="anotherOne"> Create Another QR Code! </button>

                </form>


                <!-- have a go back button and a corresponding Flask view/route?? -->
            </div>
            {% endif %}



        </main>
    </body>




</html>